@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700italic,700,600italic,600&subset=latin,cyrillic);
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.57143;
  color: #454545;
  padding-top: 64px;
  min-width: 1220px;
  background: #fff url("../img/bg.jpg") 50% 0 repeat-y; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  margin: 0 auto;
  width: 1220px;
  padding: 0 10px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.color-green {
  color: #6c7b0b !important; }

a {
  color: #454545;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  font-style: normal;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 32px;
  text-align: center;
  position: relative;
  background: #899e10;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .btn:hover {
    color: #fff;
    background-color: #a6c109;
    text-decoration: none; }
  .btn:active {
    top: 1px; }

.btn-md {
  padding: 12px 90px; }

.btn-tel {
  padding-left: 55px;
  background: #899e10 url("../img/icon-phone.png") 19px 50% no-repeat; }

.btn-yellow {
  width: 100%;
  height: 58px;
  color: #2c2f33;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  position: relative;
  font-style: normal;
  background: #ffde00;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  margin: 13px 0 25px 0;
  text-transform: uppercase;
  touch-action: manipulation;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 26px 30px 12px 30px; }
  .btn-yellow:before {
    left: -10px;
    bottom: -10px;
    width: 100%;
    height: 58px;
    content: ' ';
    position: absolute;
    background: transparent;
    border: 5px solid #899e10; }
  .btn-yellow:hover {
    color: #2c2f33;
    background-color: #ffe84f;
    text-decoration: none; }
  .btn-yellow.btn-fix {
    width: 250px;
    height: 52px;
    padding: 18px 30px 5px 30px; }
    .btn-yellow.btn-fix:before {
      height: 52px; }

.form-control {
  margin: 0;
  width: 100%;
  color: #3c3838;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  padding: 3px 20px;
  display: inline-block;
  background: #f3f7f8;
  text-align: center;
  border: 1px solid #acacac; }
  .form-control::-moz-placeholder {
    color: #3c3838;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #3c3838; }
  .form-control::-webkit-input-placeholder {
    color: #3c3838; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 12px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 64px;
  position: fixed;
  font-style: normal; }
  .top.fix-top {
    background: #fdfcfa; }
  .top .logo {
    float: left;
    outline: none;
    display: block;
    cursor: pointer;
    padding: 2px 0;
    margin-right: 40px; }
  .top .topnav {
    float: left;
    padding-top: 16px; }
    .top .topnav ul {
      float: left; }
    .top .topnav li {
      float: left;
      margin: 0 8px; }
      .top .topnav li a {
        color: #1f1d22;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding: 6px 0;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 4px solid transparent; }
        .top .topnav li a:hover {
          border-bottom-color: #899e10; }
  .top .top-contact {
    width: 388px;
    float: right;
    padding-top: 6px; }
    .top .top-contact .top-phone {
      width: 170px;
      float: left; }
      .top .top-contact .top-phone li {
        font-size: 19px;
        line-height: 20px;
        margin-bottom: 5px; }
      .top .top-contact .top-phone a {
        color: #4a494a;
        font-size: 19px;
        line-height: 20px;
        text-decoration: none; }
        .top .top-contact .top-phone a span {
          color: #899e10;
          font-weight: 300; }
    .top .top-contact .btn {
      float: right; }

.header {
  height: 536px;
  margin-bottom: 35px;
  font-style: normal;
  background: url("../img/header-bg.jpg") 0 0 no-repeat; }
  .header .header-text {
    float: right;
    width: 404px; }
    .header .header-text .header-title {
      width: 100%;
      height: 104px;
      color: #607142;
      display: table;
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      padding-left: 85px;
      text-transform: uppercase;
      background: url("../img/icon-quest.png") 15px 50% no-repeat; }
      .header .header-text .header-title span {
        display: table-cell;
        vertical-align: middle; }

.header-form .form-title {
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  background: #899e10;
  padding: 17px 3px;
  text-transform: uppercase; }
  .header-form .form-title strong {
    font-size: 20px;
    font-weight: 700;
    display: block; }
.header-form .form-subtitle {
  width: 100%;
  height: 68px;
  display: table; }
  .header-form .form-subtitle span {
    color: #797979;
    font-size: 13px;
    text-align: center;
    font-style: italic;
    display: table-cell;
    vertical-align: middle; }
.header-form .form-text {
  color: #878787;
  font-size: 13px;
  line-height: 19px;
  font-style: italic;
  text-align: center; }
.header-form .form-box {
  padding-left: 45px;
  padding-right: 39px; }
.header-form .form-group {
  margin-bottom: 12px; }
.header-form .form-control {
  margin: 0;
  width: 100%;
  color: #acacab;
  outline: none;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  padding: 12px 50px;
  display: inline-block;
  background: transparent;
  border: 1px solid #babdbc; }
  .header-form .form-control::-moz-placeholder {
    color: #acacab;
    opacity: 1; }
  .header-form .form-control:-ms-input-placeholder {
    color: #acacab; }
  .header-form .form-control::-webkit-input-placeholder {
    color: #acacab; }
  .header-form .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .header-form .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .header-form .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .header-form .form-control:focus::-webkit-input-placeholder {
    color: transparent; }
  .header-form .form-control.form-name {
    padding-left: 124px;
    background: transparent url("../img/icon-user.png") 95px 50% no-repeat; }
  .header-form .form-control.form-tel {
    padding-left: 124px;
    background: transparent url("../img/icon-tel.png") 95px 50% no-repeat; }

.header-nav {
  width: 71px;
  float: left;
  padding-right: 5px;
  background: url("../img/header-nav_bg.png") 0 0 repeat-y; }
  .header-nav li {
    width: 66px;
    height: 67px;
    border-bottom: 1px solid #e6eacc; }
    .header-nav li:last-child {
      border-bottom-color: transparent; }
    .header-nav li a {
      width: 66px;
      height: 66px;
      font-size: 14px;
      line-height: 20px;
      position: relative;
      display: inline-block;
      text-decoration: none;
      padding: 23px 0 23px 66px;
      background-image: -webkit-linear-gradient(top, #efefef 0%, #ffffff 100%);
      background-image: -o-linear-gradient(top, #efefef 0%, #ffffff 100%);
      background-image: linear-gradient(to bottom, #efefef 0%, #ffffff 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFEFEF', endColorstr='#FFFFFFFF', GradientType=0); }
      .header-nav li a:before {
        top: 0;
        left: 0;
        content: '';
        width: 66px;
        height: 66px;
        position: absolute;
        background: url("../img/header-nav_icon.png") no-repeat; }
      .header-nav li a:hover {
        background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
        background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
        background-image: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF', GradientType=0); }
        .header-nav li a:hover span {
          display: inline-block; }
      .header-nav li a span {
        width: 200px;
        display: none;
        padding-left: 10px; }
    .header-nav li.item1 a:before {
      background-position: 0 0; }
    .header-nav li.item2 a:before {
      background-position: 0 -67px; }
    .header-nav li.item3 a:before {
      background-position: 0 -137px; }
    .header-nav li.item4 a:before {
      background-position: 0 -201px; }
    .header-nav li.item5 a:before {
      background-position: 0 -268px; }
    .header-nav li.item6 a:before {
      background-position: 0 -335px; }
    .header-nav li.item7 a:before {
      background-position: 0 -402px; }
    .header-nav li.item7 a:before {
      background-position: 0 -469px; }

.content {
  font-style: italic;
  text-align: justify;
  padding-left: 85px;
  padding-right: 85px; }

.text {
  padding-bottom: 45px; }

.text-lead {
  color: #6c7b0b;
  font-size: 20px; }

.h2 {
  color: #4f4f4f;
  font-size: 19px;
  line-height: 24px;
  font-style: italic;
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 40px;
  background: url("../img/h2_divider.png") 50% 100% no-repeat; }
  .h2 .h2-inner {
    position: relative;
    display: inline-block;
    padding: 5px 0 7px 40px; }
    .h2 .h2-inner .h2-icon {
      top: 0;
      left: 0;
      width: 34px;
      height: 36px;
      display: block;
      position: absolute; }

.portfolio-block {
  margin-bottom: 40px; }

.result {
  margin: 0 -23px 35px -35px; }
  .result li {
    float: left;
    width: 33.33%;
    padding: 0 23px;
    position: relative; }
  .result .result-image {
    position: relative;
    margin-bottom: 17px;
    border: 5px solid #ffde00; }
  .result .result-text {
    color: #4f4f4f;
    font-size: 13px;
    line-height: 20px;
    font-style: italic;
    padding-top: 10px;
    text-align: center;
    position: relative; }
    .result .result-text:before {
      top: 0;
      left: 50%;
      width: 68px;
      content: ' ';
      margin-left: -34px;
      position: absolute;
      border-top: 2px solid #ffde00; }
  .result .mb2comparison-compare-vertical .mb2comparison-compare-handle:before {
    margin-left: 17px; }
  .result .mb2comparison-compare-vertical .mb2comparison-compare-handle:after {
    margin-right: 17px; }
  .result .mb2comparison-compare-handle {
    height: 34px;
    width: 34px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -17px;
    margin-top: -17px;
    background: url("../img/icon-handle.png") 0 0 no-repeat;
    z-index: 4;
    cursor: pointer; }
    .result .mb2comparison-compare-handle:after {
      content: " ";
      display: block;
      background: #ffde00;
      position: absolute;
      z-index: 3; }
    .result .mb2comparison-compare-handle:before {
      content: " ";
      display: block;
      background: #ffde00;
      position: absolute;
      z-index: 3; }

.advantage ul {
  width: 900px;
  margin: 0 auto; }
.advantage li {
  float: left;
  width: 300px;
  height: 86px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 15px 0 0 90px; }
  .advantage li span {
    height: 86px;
    vertical-align: middle; }
  .advantage li.item1 {
    background: url("../img/advantage1.png") 0 50% no-repeat; }
  .advantage li.item2 {
    background: url("../img/advantage2.png") 0 50% no-repeat; }
  .advantage li.item3 {
    background: url("../img/advantage3.png") 0 50% no-repeat; }
  .advantage li.item4 {
    background: url("../img/advantage4.png") 0 50% no-repeat; }
  .advantage li.item5 {
    background: url("../img/advantage5.png") 0 50% no-repeat; }
  .advantage li.item6 {
    background: url("../img/advantage6.png") 0 50% no-repeat; }

.order {
  height: 343px;
  position: relative;
  margin-bottom: 20px;
  padding: 15px 15px 1px 400px;
  border: 13px solid #bad048; }
  .order:before {
    left: 0;
    bottom: 0;
    content: '';
    width: 537px;
    height: 370px;
    position: absolute;
    background: url("../img/order-form-bg.png") 0 0 no-repeat; }
  .order .order-title {
    color: #6c7b0b;
    font-size: 21px;
    line-height: 23px;
    text-align: center;
    font-style: italic;
    padding-left: 115px;
    margin-bottom: 15px; }
  .order .order-subttile {
    color: #333;
    height: 82px;
    font-size: 17px;
    line-height: 27px;
    background: #e8e8e8;
    text-align: center;
    font-style: normal;
    margin-bottom: 17px;
    padding: 14px 0 14px 115px; }
    .order .order-subttile span {
      display: block;
      font-size: 21px; }
  .order .order-form {
    text-align: center;
    padding-left: 150px;
    padding-right: 40px; }
    .order .order-form .btn-yellow {
      margin-top: 7px; }

.gallery-box {
  margin-bottom: 40px; }

.gallery li {
  float: left;
  width: 200px;
  height: 200px;
  margin-bottom: 32px; }

.footer .footer-nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4; }
  .footer .footer-nav ul {
    width: 100%;
    display: table;
    text-align: center; }
  .footer .footer-nav li {
    color: #525252;
    display: table-cell; }
    .footer .footer-nav li a {
      color: #525252;
      font-size: 16px;
      line-height: 20px; }
      .footer .footer-nav li a:hover {
        border-bottom: 1px solid #525252; }
.footer .footer-bottom {
  padding-top: 23px;
  padding-bottom: 15px;
  background: url("../img/footer-logo.png") 50% 50% no-repeat; }
  .footer .footer-bottom li {
    width: 50%;
    float: left;
    color: #525252;
    font-size: 14px;
    padding: 2px 0; }
    .footer .footer-bottom li:first-child {
      text-align: right;
      padding-right: 50px; }
    .footer .footer-bottom li:last-child {
      text-align: left;
      padding-left: 50px; }
  .footer .footer-bottom a {
    color: #525252;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
