.content {
	font-style: italic;
	text-align: justify;
	padding-left: 85px;
	padding-right: 85px;
}

.text {
	padding-bottom: 45px;
}

.text-lead {
	color: #6c7b0b;
	font-size: 20px;
}

.h2 {
	color: #4f4f4f;
	font-size: 19px;
	line-height: 24px;
	font-style: italic;
	text-align: center;
	padding-bottom: 12px;
	margin-bottom: 40px;
	background: url("../img/h2_divider.png") 50% 100% no-repeat;

	.h2-inner {
		position: relative;
		display: inline-block;
		padding: 5px 0 7px 40px;

		.h2-icon {
			top: 0;
			left: 0;
			width: 34px;
			height: 36px;
			display: block;
			position: absolute;
		}
	}
}

.portfolio-block {
	margin-bottom: 40px;
}

.result {
	margin: 0 -23px 35px -35px;

	li {
		float: left;
		width: 33.33%;
		padding: 0 23px;
		position: relative;
	}

	.result-image {
		position: relative;
		margin-bottom: 17px;
		border: 5px solid #ffde00;
	}

	.result-text {
		color: #4f4f4f;
		font-size: 13px;
		line-height: 20px;
		font-style: italic;
		padding-top: 10px;
		text-align: center;
		position: relative;

		&:before {
			top: 0;
			left: 50%;
			width: 68px;
			content: ' ';
			margin-left: -34px;
			position: absolute;
			border-top: 2px solid #ffde00;
		}
	}

	.mb2comparison-compare-vertical {

		.mb2comparison-compare-handle {

			&:before {
				margin-left: 17px;
			}

			&:after {
				margin-right: 17px;
			}
		}
	}


	.mb2comparison-compare-handle {
		height: 34px;
		width: 34px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -17px;
		margin-top: -17px;
		background: url("../img/icon-handle.png") 0 0 no-repeat;
		z-index: 4;
		cursor: pointer;

		&:after {
			content: " ";
			display: block;
			background: #ffde00;
			position: absolute;
			z-index: 3;
		}

		&:before {
			content: " ";
			display: block;
			background: #ffde00;
			position: absolute;
			z-index: 3;
		}
	}
}

.advantage {

	ul {
		width: 900px;
		margin: 0 auto;
	}

	li {
		float: left;
		width: 300px;
		height: 86px;

		font-size: 14px;
		line-height: 20px;
		margin-bottom: 40px;
		padding: 15px 0 0 90px;

		span {
			height: 86px;

			vertical-align: middle;
		}

		&.item1 {
			background: url("../img/advantage1.png") 0 50% no-repeat;
		}

		&.item2 {
			background: url("../img/advantage2.png") 0 50% no-repeat;
		}

		&.item3 {
			background: url("../img/advantage3.png") 0 50% no-repeat;
		}

		&.item4 {
			background: url("../img/advantage4.png") 0 50% no-repeat;
		}

		&.item5 {
			background: url("../img/advantage5.png") 0 50% no-repeat;
		}

		&.item6 {
			background: url("../img/advantage6.png") 0 50% no-repeat;
		}
	}
}

.order {
	height: 343px;
	position: relative;
	margin-bottom: 20px;
	padding: 15px 15px 1px 400px;
	border: 13px solid #bad048;

	&:before {
		left: 0;
		bottom: 0;
		content: '';
		width: 537px;
		height: 370px;
		position: absolute;
		background: url("../img/order-form-bg.png") 0 0 no-repeat;
	}

	.order-title {
		color: #6c7b0b;
		font-size: 21px;
		line-height: 23px;
		text-align: center;
		font-style: italic;
		padding-left: 115px;
		margin-bottom: 15px;
	}

	.order-subttile {
		color: #333;
		height: 82px;
		font-size: 17px;
		line-height: 27px;
		background: #e8e8e8;
		text-align: center;
		font-style: normal;
		margin-bottom: 17px;
		padding: 14px 0 14px 115px;

		span {
			display: block;
			font-size: 21px;
		}
	}

	.order-form {
		text-align: center;
		padding-left: 150px;
		padding-right: 40px;

		.btn-yellow {
			margin-top: 7px;
		}
	}
}

.gallery-box {
	margin-bottom: 40px;
}

.gallery {

	li {
		float: left;
		width: 200px;
		height: 200px;
		margin-bottom: 32px;
	}
}