.footer {

	.footer-nav {
		font-size: 0;
		line-height: 0;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid #c4c4c4;

		ul {
			width: 100%;
			display: table;
			text-align: center;
		}

		li {
			color: #525252;
			display: table-cell;

			a {
				color: #525252;
				font-size: 16px;
				line-height: 20px;

				&:hover {
					border-bottom: 1px solid #525252;
				}
			}
		}
	}

	.footer-bottom {
		padding-top: 23px;
		padding-bottom: 15px;
		background: url("../img/footer-logo.png") 50% 50% no-repeat;

		li {
			width: 50%;
			float: left;
			color: #525252;
			font-size: 14px;
			padding: 2px 0;

			&:first-child {
				text-align: right;
				padding-right: 50px;
			}

			&:last-child {
				text-align: left;
				padding-left: 50px;
			}
		}

		a {
			color: #525252;
			text-decoration: none;
		}
	}
}