.top {
	top:0;
	left: 0;
	right: 0;
	z-index: 999;
	height: 64px;
	position: fixed;
	font-style: normal;

	&.fix-top {
		background: #fdfcfa;
	}

	.logo {
		float: left;
		outline: none;
		display: block;
		cursor: pointer;
		padding: 2px 0;
		margin-right: 40px;
	}

	.topnav {
		float: left;
		padding-top: 16px;

		ul {
			float: left;

		}

		li {
			float: left;
			margin: 0 8px;

			a {
				color: #1f1d22;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				padding: 6px 0;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 4px solid transparent;

				&:hover {
					border-bottom-color: #899e10;
				}
			}
		}
	}

	.top-contact {
		width: 388px;
		float: right;
		padding-top: 6px;

		.top-phone {
			width: 170px;
			float: left;

			li {
				font-size: 19px;
				line-height: 20px;
				margin-bottom: 5px;
			}


			a {
				color: #4a494a;
				font-size: 19px;
				line-height: 20px;
				text-decoration: none;

				span {
					color: #899e10;
					font-weight: 300;
				}
			}
		}

		.btn {
			float: right;
		}
	}
}

.header {
	height: 536px;
	margin-bottom: 35px;
	font-style: normal;
	background: url("../img/header-bg.jpg") 0 0 no-repeat;

	.header-text {
		float: right;
		width: 404px;

		.header-title {
			width: 100%;
			height: 104px;
			color: #607142;
			display: table;
			font-size: 15px;
			font-weight: 600;
			line-height: 24px;
			padding-left: 85px;
			text-transform: uppercase;
			background: url("../img/icon-quest.png") 15px 50% no-repeat;

			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

.header-form {

	.form-title {
		color: #fff;
		font-size: 19px;
		line-height: 22px;
		text-align: center;
		background: #899e10;
		padding: 17px 3px;
		text-transform: uppercase;

		strong {
			font-size: 20px;
			font-weight: 700;
			display: block;
		}
	}

	.form-subtitle {
		width: 100%;
		height: 68px;
		display: table;

		span {
			color: #797979;
			font-size: 13px;
			text-align: center;
			font-style: italic;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.form-text {
		color: #878787;
		font-size: 13px;
		line-height: 19px;
		font-style: italic;
		text-align: center;
	}

	.form-box {
		padding-left: 45px;
		padding-right: 39px;
	}

	.form-group {
		margin-bottom: 12px;
	}

	.form-control {
		margin: 0;
		width: 100%;
		color: #acacab;
		outline: none;
		text-align: left;
		font-size: 18px;
		line-height: 20px;
		padding: 12px 50px;
		display: inline-block;
		background: transparent;
		border: 1px solid #babdbc;
		@include placeholder(#acacab);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			@include placeholder(transparent);
		}

		&.form-name {
			padding-left: 124px;
			background: transparent url("../img/icon-user.png") 95px 50% no-repeat;
		}

		&.form-tel {
			padding-left: 124px;
			background: transparent url("../img/icon-tel.png") 95px 50% no-repeat;
		}
	}
}

// Header Navigation

.header-nav {
	width: 71px;
	float: left;
	padding-right: 5px;
	background: url("../img/header-nav_bg.png") 0 0 repeat-y;

	li {
		width: 66px;
		height: 67px;
		border-bottom: 1px solid #e6eacc;

		&:last-child {
			border-bottom-color: transparent;
		}

		a {
			width: 66px;
			height: 66px;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			display: inline-block;
			text-decoration: none;
			padding: 23px 0 23px 66px;
			@include gradient-vertical(#efefef, #ffffff);

			&:before {
				top: 0;
				left: 0;
				content: '';
				width: 66px;
				height: 66px;
				position: absolute;
				background: url("../img/header-nav_icon.png") no-repeat;
			}

			&:hover {
				@include gradient-vertical(#ffffff, #efefef);

				span {
					display: inline-block;
				}
			}

			span {
				width: 200px;
				display: none;
				padding-left: 10px;
			}
		}

		&.item1 {

			a {

				&:before {
					background-position: 0 0;
				}
			}
		}

		&.item2 {

			a {

				&:before {
					background-position: 0 -67px;
				}
			}
		}

		&.item3 {

			a {

				&:before {
					background-position: 0 -137px;
				}
			}
		}

		&.item4 {

			a {

				&:before {
					background-position: 0 -201px;
				}
			}
		}

		&.item5 {

			a {

				&:before {
					background-position: 0 -268px;
				}
			}
		}

		&.item6 {

			a {

				&:before {
					background-position: 0 -335px;
				}
			}
		}

		&.item7 {

			a {

				&:before {
					background-position: 0 -402px;
				}
			}
		}

		&.item7 {

			a {

				&:before {
					background-position: 0 -469px;
				}
			}
		}
	}
}