
$text-color             :   #454545 !default;
$link-color             :   #454545 !default;


$font-size-base         :   14px !default;
$line-height-base       :   1.571428 !default;
$font-base              :    'Open Sans', Arial, sans-serif !default;

