.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	font-style: normal;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 12px 32px;
	text-align: center;
	position: relative;
	background: #899e10;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include transition(.2s);

	&:hover {
		color: #fff;
		background-color: #a6c109;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-md {
	padding: 12px 90px;
}

.btn-tel {
	padding-left: 55px;
	background: #899e10 url("../img/icon-phone.png") 19px 50% no-repeat;
}


.btn-yellow {
	width: 100%;
	height: 58px;
	color: #2c2f33;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	position: relative;
	font-style: normal;
	background: #ffde00;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	margin: 13px 0 25px 0;
	text-transform: uppercase;
	touch-action: manipulation;
	@include transition(.2s);
	padding: 26px 30px 12px 30px;

	&:before {
		left: -10px;
		bottom: -10px;
		width: 100%;
		height: 58px;
		content: ' ';
		position: absolute;
		background: transparent;
		border: 5px solid #899e10;
	}

	&:hover {
		color: #2c2f33;
		background-color: #ffe84f;
		text-decoration: none;
	}

	&.btn-fix {
		width: 250px;
		height: 52px;
		padding: 18px 30px 5px 30px;

		&:before {
			height: 52px;
		}
	}
}