.form-control {
	margin: 0;
	width: 100%;
	color: #3c3838;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 3px 20px;
	display: inline-block;
	background: #f3f7f8;
	text-align: center;
	border: 1px solid #acacac;
	@include placeholder(#3c3838);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}


	&:focus {
		@include placeholder(transparent);
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 12px;
}